.card {
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  margin: 0 2rem;

  &:hover {
    transform: scale(1.05);
  }
  &__stars {
    display: flex;
    svg {
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 55%;
    justify-content: space-evenly;
    height: 75%;
  }

  img {
    height: 11rem;
    width: 79%;
    transform: rotate(0.9turn) translateX(-10rem) translateY(-7rem);
    position: absolute;
  }
}
