.itemImage-xl {
  width: 60rem;
  height: 60rem;
}

.itemImage-l {
  height: 20rem;
  width: 23rem;
}

.itemImage-m {
  height: 13rem;
  width: 18rem;
}

.itemImage-m {
  width: 11rem;
  height: 11rem;
}
