.userInfo {
  display: flex;
  flex-direction: column;
  width: 48rem;
  font-size: 2rem;
  p {
    font-size: 1.4rem;
    color: red;
  }
  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input {
    height: 5rem;
    font-size: 2rem;
  }
  button {
    margin-top: 2rem;
    height: 4.5rem;
  }
}
