.cartColumn {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  div {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 70%;
    }
  }
}
