.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  &__intro {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  &__inputs-wrap {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
  }

  button {
    margin-top: 1.5rem;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }
}
