// w-s children
.child-template-w-s-center {
  grid-area: 2 / 2 / 8 / 7;
  display: grid;
  position: relative;
}
.child-template-w-s-bottomRight {
  grid-area: 9 / 4 / 10 / 8;
  display: flex;
}
.child-template-w-s-topLeft {
  grid-area: 2 / 2 / 3 / 5;
}
.child-template-w-s-bottomCenter {
  grid-area: 3 / 2 / 9 / 7;
}

// w-full children
.child-template-w-full-right {
  grid-area: 11/9/ 1/8;
}
.child-template-w-full-left {
  grid-area: 1/1/ 11/9;
}
.child-template-w-full-center {
  grid-area: 4/4/ 4/4;
}
.child-template-w-full-centerRight {
  grid-area: 3 / 4 / 8 / 7;
}

.child-template-w-full-leftRight {
  grid-area: 1 / 1 / 11 / 8;
}

// w-m children
.child-template-w-m-centerLeft {
  grid-area: 3/2/3/5;
}
.child-template-w-m-right {
  grid-area: 3/6/5/6;
}

.child-template-w-m-topLeft {
  grid-area: 2 / 2 / 3 / 5;
}
.child-template-w-m-bottomLeft {
  grid-area: 7/2/5/5;
}
