.intro-left {
  display: flex;
  flex-direction: column;
  grid-area: 1 / 2 / 4 / 3;
  .title {
    font-family: 'Goldman', cursive;
  }
}

.intro-right {
  display: flex;
  flex-direction: column;
  grid-area: 3 / 5 / 4 / 7;
}

.intro-middle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -10000;
}
