.itemInfoEvents {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: start;
  height: 100%;
  .arrow-button {
    margin-left: 3rem;
  }

  .item-info {
    padding: 0 5rem;
    margin-bottom: 5rem;
  }
  .itemInfoEvents__btn-wrap {
    display: flex;
  }
}
