.title {
  font-size: 4rem;
}

.title-xs {
  font-size: 3rem;
}
.title-s {
  font-size: 6rem;
}

.title-m {
  font-size: 9rem;
}

.title-l {
  font-size: 12rem;
}

.title-max {
  font-size: 45rem;
  display: inline-block;
  -webkit-transform: scaleX(1.2);
  transform: scaleX(1.2);
}

.title-400 {
  font-weight: 400;
}

.title-500 {
  font-weight: 500;
}

.title-600 {
  font-weight: 600;
}

.title-700 {
  font-weight: 700;
}
.title-primary {
  color: black;
}

.title-secondary {
  color: #e5e5e5;
}
