.title {
  font-size: 4rem;
}

.title-goldman {
  font-family: 'Goldman', cursive;
}
.title-oswald {
  font-family: 'Oswald', sans-serif;
}

.title-archivo {
  font-family: 'Archivo Black', sans-serif;
}

.title-s {
  font-size: 4rem;
}

.title-m {
  font-size: 9rem;
}

.title-l {
  font-size: 12rem;
}

.title-max {
  font-size: 60rem;
}
