.intro {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  .intro-left {
    position: absolute;
    left: 10%;
  }

  .intro-right {
    position: absolute;
    bottom: 0;
    right: 15%;
  }

  .intro-background {
    position: fixed;
    left: 50%;
    top: 45%;
  }
  .intro-center {
    position: absolute;
    left: 55%;
    top: 50%;
  }
}
