.userInfoEvents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 60rem;
  height: 100%;
  background-color: white;

  &__logo {
    display: flex;
    align-items: center;
  }

  &__intro {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &__form {
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .margin__top-small {
    margin-top: 2rem;
  }
}
