.header {
  font-family: 'Oswald', sans-serif;
  display: flex;
  height: 8vh;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);

  #header__userName {
    margin-left: 1rem;
    margin-top: 0.5rem;
  }
  &__left {
    width: 20rem;
    display: flex;
    justify-content: center;
  }
  &__center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__category {
      display: flex;
      margin: 0rem 2rem;
      font-size: 2rem;
      color: black;
      height: 100%;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-weight: 600;

      transition: all 0.1s ease-in-out;
      cursor: pointer;
      text-decoration: none;
      &:hover {
        border-top: 5px solid black;
        color: rgb(126, 126, 126);
      }
    }
  }
  a &__logo {
    width: 8rem;
  }

  &__right {
    display: flex;
    width: 20rem;
    &__cart {
      border-radius: 50%;
    }
    a {
      color: black;
      text-align: center;
      align-items: center;
      display: flex;
      background-color: #fff;
      border: solid 2px black;
      font-size: 5rem;
      cursor: pointer;
      text-decoration: none;
      width: 4rem;
      height: 4rem;
      justify-content: center;
      &:active .nav {
        opacity: 1;
      }
    }
    .a__login {
      background-color: black;
      color: white;
    }
    .bx-log-in {
      font-size: 2rem;
      cursor: pointer;
      display: flex;
      text-align: center;
      align-items: center;
      margin-right: 0.5rem;
    }
    .navigation__checkbox {
      display: none;
    }
    .bx-cart-alt {
      color: black;
      font-size: 2rem;
      font-weight: 800;
      cursor: pointer;
      display: flex;
      text-align: center;
      align-items: center;
    }
    .toggle-button {
      display: flex;
      position: relative;
      font-size: 2rem;
      color: black;
      cursor: pointer;
    }
    .nav {
      width: 10rem;
      z-index: 100;
      border: solid 1px black;
      position: fixed;
      top: 6%;

      button {
        font-size: 1.5rem;
        border: none;
        width: 100%;
        font-family: 'Heebo';
        height: 3.6rem;
        cursor: pointer;
        background-color: white;
      }
      a {
        font-size: 1.5rem;
        border: none;
        width: 100%;
        font-family: 'Heebo';
        border-bottom: 1px solid black;
        height: 3.6rem;
      }
    }
  }
}

.a__login {
  background-color: black;
  color: white;
  border-radius: 50%;
  margin-right: 1.5rem;
}

.bxs-down-arrow {
  display: flex;
  text-align: center;
  align-items: center;
  margin-left: 0.3rem;
  margin-top: 1rem;
  font-size: 1.3rem;
  cursor: pointer;
  margin-right: 2rem;
}
