.card {
  width: 27rem;
  height: 15rem;
  background-color: #fff;
  border-radius: 26px;
  margin-right: 7rem;
  z-index: 10;
  display: flex;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  flex-wrap: wrap;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 1px 1px 30px 0.3px #b1b0b091;

  &:hover {
    transform: scale(1.05);
  }
  a {
    width: 100%;
    height: 100%;
    display: flex;
    text-decoration: none;
    color: #000;
  }
  &__wrap {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    font-size: 4rem;
    width: 14rem;
    justify-content: center;
    font-size: 1.5rem;
  }
  &__name {
    font-weight: 700;
    margin: 1rem 0;
  }
  &__price {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1rem 0;
  }
  &__rate {
    display: flex;
  }
}
.card__image__wrap {
  height: 100%;
  width: 9rem;
  overflow: visible;
}
.card__image {
  height: 23rem;
  width: 19rem;
  margin: -4rem -8rem;

  transform: rotate(0.9turn);
}
